<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.project.tests.CartPageTest"/>
      <class name="com.project.tests.SubscriptionField_Test"/>
      <class name="com.project.tests.productpageTest"/>
      <class name="com.project.tests.ApiPageTest"/>
      <class name="com.project.tests.VideoTutorialsPageTest"/>
      <class name="com.project.tests.Login_Tests"/>
      <class name="com.project.tests.Signup_Test"/>
      <class name="com.project.tests.HomePageTest"/>
      <class name="com.project.tests.TestCasesPageTest"/>
      <class name="com.project.tests.ContactUsPage_UI_Test"/>
      <class name="com.project.tests.ContactUsPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
